 <div class="container">
    <div class="row">
        <div class="col text-center">
            <form class="form-check" method="POST" enctype="multipart/form-data">
                <div class="row">
                <div class="col-sm-6">
                    <label for="file1">Вставьте первый файл</label>
                    <input id="file1" type="file" name="first_file" required
                           accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                </div>
                <div class="col-sm-6">
                    <label for="file2">Вставьте второй файл</label>
                    <input id="file2" type="file" name="second_file" required
                           accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document"><br>
                    <input class="btn btn-primary btn-sm" type="submit" value="Начать сравнение">
                </div>
                </div>
            </form>
        </div>
    </div>
    </div>